<div style="margin-top:30px;">
<div class="label">

    <h2 class="display-4">Instructions</h2>

  </div>
<div class="jumbotron">
  <div class="container">
    <h1 class="">Instructions for Beta Teams</h1>
  </div>

<div class="container">
    <h3 class="display-4"></h3>
      <ul>
        <li>This assessment is designed to generate team learning journeys in multiple categories. However, at this time, most categories do not have a full set of questions and journeys, so many of the generated results are blank. </li>
        <li>Let us know what you think!</li>
      </ul>
</div>
<div class="container">
  <h1 class="">Assessment Instructions</h1>

</div>
<div class="container">
  <h3 class="display-4"></h3>
    <ul>

      <li>Duration: 59 questions / about 2 hours to complete</li>
      <li>Take this assessment together with your entire delivery team, including contractors and product owners if you have them. Unless your resource manager is part of the delivery team, we recommend this team assessment to be completed without the presence of a resource manager.</li>
      <li>You’ll notice that this assessment is not scored. That's because the focus for each team is to make steady improvements and understand how to chart a path for continuous improvement.</li>
      <li>You won’t lose your progress if you leave and come back to finish the assessment later. When you submit the assessment, an email with the link to your results page will be sent to the email entered.</li>

    </ul>
</div>

</div>
</div>
<button class="btn btn-success" (click)="next()">Next</button>