<div class="qa-list">
  <h4 class="tab-label">Learning Activities</h4>
  <ul class="list-group no-transform" [style.width]="ieWidth" >
      <mat-accordion class="headers-align">
        <ng-container *ngFor="let cat of outcomesByCategory; let j = index">
            <mat-expansion-panel *ngIf="ifOutcomes(j)" [expanded]="sessionHistory[sessionHistory.length-1].category == j">
                <mat-expansion-panel-header [style.background]="catColors[cat[0].catName]">
                  <mat-panel-title>
                    {{cat[0].catName}}
                  </mat-panel-title>
                  <mat-panel-description>
                    <ng-container *ngFor="let session of sessionHistory">
                      <span *ngIf="session.category == j && !session.oldData">
                        {{session.completedOn}}
                      </span>
                    </ng-container>
                  </mat-panel-description>
                </mat-expansion-panel-header>
          <ng-container  *ngFor="let o of cat; let i = index">
            <ng-container *ngIf="o.level > 0">
              <div class="comp-label">{{o.compName}}</div>
              <div class="list-group-item" *ngIf="answersByCategory[j].length > 0">
                
                <span [innerHTML]="o.outcomeText"></span>
              </div>
            </ng-container>
          </ng-container>
          </mat-expansion-panel>
        </ng-container>
        </mat-accordion>
  </ul>
</div>