<app-assessment-outcome-header></app-assessment-outcome-header>
<div class="container" style="margin-top: 30px">

  <h1>{{currentQuestion.description}}</h1>
  <div class="choice-box">
    <form>
      <ol>
       
        <li *ngFor="let a of currentQuestion.choices; let i = index;">
        <div  class="container choice" (click) = "setAnswer(i)">
          
            <label>
              <div class="label-radio"><input type="radio" name="answer" [(ngModel)]="answer"  [value]="i" ><span>{{a}}</span></div>
            </label>
          
        </div>
        </li>
      
      <li>
        <div  class="container choice" (click) = "setAnswer(-1)">
          
            <label>
              <div class="label-radio"><input type="radio" name="answer" [(ngModel)]="answer" [checked]="answer > 0" [value]="-1" (click)='answer = -1'><span>N/A</span></div>
            </label>
          
        </div>
      </li>
      </ol>
    </form>
  </div>

    <button class="btn btn-success" *ngIf="!this.router.url.includes('outcome') && this.prevQuestionRoute"(click)="goBack()">Back</button>
    <button class="btn btn-success next"  *ngIf="answer >= -1" (click)="submitAnswer()">Next</button>
</div>
